:root {
    --text-color-main: #212121;
    --text-color-secondary:#757575;
    --text-color-accent: #2196F3;
    --text-color-accent2: #ffffff;
    --text-color-footer: rgba(255, 255, 255, 0.6);;
    --background-color-main: #ffffff;
    --background-color-secondary: #F5F4FA;
    --background-color-accent: #2196F3;
    --background-color-accent2: #2F303A;
    --background-color-transparent1: rgba(47, 48, 58, 0.8);
    --background-color-transparent2: rgba(33, 150, 243, 0.9);
    --background-color-footer: #2F303A;
    --link-color-inactive: #AFB1B8;
    --link-color-active: #2196F3;
}

/*Page main (body) font and color styling*/
.page {
    background-color: var(--background-color-main);
    font-family: 'Roboto', sans-serif;
}

.site-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.link.button {
    color: var(--text-color-accent2);
    background-color: var(--background-color-accent);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var( --text-color-accent);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color:var( --text-color-accent);
}
/*Navbar (header)styling */

.container {
    background-color: var(--background-color-main);
}

.header-container {
    border-bottom: 1px solid #ECECEC;
}

.nav-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo.main .logo-part1 {
    color: var(--text-color-accent);
}

.site-logo.main .logo-part2 {
    color: var(--text-color-main);
}

.site-nav {
    display: flex;
    margin-left: 85px;
}

/*всем элементам списка, кроме последнего
равен этому выражению  .site-nav .item:not(:last-child) {}
(применить к всем который следует за .item - первый ел-т в списке)
*/
.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--text-color-accent);
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts .link {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.site-contacts .item + .item{
    padding-left: 30px;
}

.site-contacts .item .link + .link {
    padding-left: 10px;

}
/*Section "Hero" styling*/
.hero-container {
    background-color: var(--background-color-transparent1); 
}

.hero-section {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--background-color-transparent);
    text-align: center;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    color: var(--text-color-accent2);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button.hero {
    display:inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border: 1px solid transparent;
    font-weight: 700;

    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
   }

/*Section "Advantages" styling*/
.advantages-container {
    padding-top: 94px;
}

.advantages-section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}

.advantages-item {
    width: 270px;
    align-items: center;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-image {
    display: block;
    padding-left: 100px;;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
   
    background-color: var(--background-color-secondary);    
}

.advantages-subtitle {
    display: inline-block;
    width: 270px;
    margin-bottom: 10px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    width: 270px;

    color: var(--text-color-secondary);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/*Section "Our Ptojects"*/
.projects-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 294px;
}

.projects-list {
    display: flex;
    justify-content: space-between;
}

.project-image {
    display: inline-block;
    width: 370px;
}

.project-link {
    width: 370px;
    height: 70px;
}

/*Headers styling for "Our Ptojects","Our team", "Our Clients" */
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-link {
    min-width: 370px;
    height: 70px;
    padding: 27px 82px;
    margin-top: -70px;

    color: var(--text-color-accent2);
    background-color:var(--background-color-transparent1);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

/*Section "Team" styling*/
.team-container {
    background-color: var(--background-color-secondary);
}

.team-section {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-item {
    text-align: center;
    padding-bottom: 24px;
}
.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team-member-photo {
    display: block;
    margin-bottom: 30px;
}

.team-member-title {
    margin-bottom: 10px;
    color:var(--text-color-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.team-department {
    margin-top: 0;
    margin-bottom: 16px;

    color:var(--text-color-secondary);
    font-weight: normal;
    font-size: 16px;   
    line-height: 1.188;
    letter-spacing: 0.03em;
}
.social-list {
    display: flex;
    justify-content: center;
}

.social-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding-left: auto;
    padding-right: auto;
    border: 1px solid var(--background-color-main);
    border-radius: 25px;

    font-weight: 500;
    color: var(--link-color-inactive);
}

.social-list .social-list-item + .social-list-item {
    margin-left: 10px;
}

.social-list .link:hover,
.social-list .link:focus {
    color: var(--link-color-active);
}

/*Section "Clients" styling*/

.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.company-list {
    display: flex;
    justify-content: space-between;
}

.company-item {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;

    border: 1px solid var(--link-color-inactive);
    border-radius: 4px; 
}

.company-list.company-item + .company-item {
    padding-left: 30px;
}

.company-list .link {
    display: flex;
    align-items: center;

    border-radius: 4px;
    color: var(--link-color-inactive); 
}

.company-list .link:hover,
.company-list .link:focus {
    color: var(--link-color-active);
}

/*Footer styling*/
.container-footer {
    background-color: var(--background-color-footer);
}

.section-footer {
    display: flex;
    justify-content: space-between;
    
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
    margin-left: auto;
    margin-right: auto;
}
/*Logo + Address block*/
.section-address {
    display: flex;
    flex-direction: column;
    width: 231px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-address .link {
    display: block;

    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--text-color-footer);
}

.logo.footer.link{
    display: block;
    margin-bottom: 20px;
}

.site-logo.secondary .logo-part1 {
    color:var(--link-color-active);
}
    
.site-logo.secondary .logo-part2 {
    color: var(--text-color-accent2);
}

.address-text {
    margin-top: 0;
    margin-bottom: 9px;
    
    color: var(--text-color-accent2);
    font-style: normal;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}
.contacts .link {
    display: inline-block;
}

.contacts .link,
.contacts .mail {
    display: inline-block;
    font-style: normal;
}

.contacts .mail {
    margin-bottom: 9px;
}

/*Join block*/
.section-join {
    display: flex;
    flex-direction: column;
    width: 206px;
    padding-top: 72px;
    padding-bottom: 100px;
    margin-left: 69px;
}

.join-text, .signup-text {
    margin-top:0;
    margin-bottom: 20px;
    padding: 0;

    color: var(--text-color-accent2);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-list.join .link {
    border: 1px solid var(--text-color-footer);
    border-radius: 25px;
}

/*Sign-up block*/
.section-signup {
    width: 570px;
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: 94px;
}

.sign-container {
    display: flex;

}
.sign-container .button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 29px;
    border: 1px solid transparent;
    margin-left: 12px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
}

.email-input {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color-footer);
    border: 1px solid var(--text-color-footer);
    border-radius: 4px;
}

/*Portfolio page styling*/
/*Portfolio sort butons section*/
.portfolio-sort {
    width: 1200px;
    padding-top: 94px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    text-align: center;   
}

.nav-button {
    display: inline-block;
    padding: 5px 22px ;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: var(--text-color-main);
    background-color: var(--background-color-secondary:);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing  : 0.03em;
}
.portfolio-nav .portfolio-nav-item + .portfolio-nav-item {
    margin-left: 8px;
}

.nav-button:hover,
.nav-button:focus {
    background-color: var(--background-color-accent);
    color: var(--text-color-accent2);
}

.nav-button.current {
    color: var(--text-color-accent2);
    background-color: var(--background-color-accent);
}

/*Portfolio items container*/
.portfolio-container {
    display: flex;
    
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

/*к каждому 3му ел-ту*/
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
/*к 3 последним ел-там*/
.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/*альтернативный способ на основе calc
width: calc ((100% - 60px) / 3 ;
margin-right: 30px;
formula
calc((100% - (N of margin in row)*margin) / N of elements in row */

.portfoli0-image {
    display: block;
}

.portfolio-title {
    min-width: 322px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;

    color: var(--text-color-main);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    min-width: 322px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--text-color-secondary);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.portfolio-text {
    width: 370px;
    height: 294px;
    margin-top: -294px;

    color: var(--text-color-accent2);
    background-color: var(--background-color-transparent2);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}